.subMenu{
    position: relative;
    bottom: 46px;
    right: 15px;
    z-index: 3;
    color:rgb(235, 255, 230);
    display: flex;
    flex-direction: row;
    visibility: hidden;
    justify-content: center
}



.individualSites,
.individualBenefits,
.individualGalery,
.individualSubcription{
    background-color:black;
    padding: 5px;
    margin:10px 0px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
}

li{
    list-style: none;
}

#logo{
    background-color: black;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-top: 10px;
    visibility: visible;
}

#subGalery,
#subSubcription,
#subSites,
#subBenefits{
    background: content-box;
    border-radius: 15px;
    background-color: rgba(20, 22, 20, 0.5);
    position: relative;
}