.menuPrincipal{
    height: 90px;
    margin: 0px 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuPrincipal .listMenu{
    padding: 5px;
    margin: 0px 20px;
    width: 120px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color:black;
    border-radius: 15px;
}

li{
    list-style: none;
}