ul{
    height: 90px;
    margin: 0px 40px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    padding: 5px;
    margin: 0px 20px;
    list-style: none;
    display: inline-block;
    width: 160px;
    text-align: center;
    cursor: pointer;
    background-color:black;
    border-radius: 15px;
}
