.menuPrincipal{
    padding: 12px;
    margin: 10px 10px;
    border-radius: 15px;
}
.menuSecundario{
    padding: 10px 10px;
    margin-bottom: 10px;
}

.menuPrincipal,
.menuSecundario{
    background-color:black;
    cursor: pointer;
    list-style: none;
    text-align: center;
    border-radius: 15px;
}

.elementNav{
    background-color: rgb(0,0,0,0.5);
    width: 160px;
    border-radius: 15px;
    padding:2px 5px 5px 5px;
    margin: 17px 10px;
}